@charset "utf-8";
/* CSS Document */

.mail{ font-size:14px; color:#4c4c4c;}
.mobil{ font-size:14px; color:#4c4c4c; float:right;}


.social-links {
    text-align:right;
  margin-top:30px;
}

.social-links a{
    display: inline-block;
    width:25px;
    height: 25px;
    border-radius: 50px;
    margin-right: 10px;
    background:#4b4b4b;
    color:#FFFFFF;


}
.social-links a i{
    padding: 8px 7px;
    font-size: 15px;
    color: #FFFFFF;
}
.social-links a:hover{ background:#000000; color:#4b4b4b;}
.red{ background:#d1362b; color:#FFFFFF; height:auto; text-align:center; font-size:25px;}
.welcome{ color:#1D1D1D; text-align:center;}
.bakground{ background-image:url(../images/semko%20group%201.jpg); height:auto;}
.footer{  height:auto; color:#4B4B4B; }
.mar{ margin-top:30px;}
.mar p { font-size:14px; line-height:26px}
.mar p a {color:#91b0b2;text-decoration:none !important;}
.mar p a:hover{color:#159ed4;}

.mar h5{ font-size:17px;}
.ftfoot {padding-top:0px; margin-bottom: 0px !important;}
.ftfoot a{color:#91b0b2;text-decoration:none !important; margin-right:15px; line-height:66px;}
.ftfoot a {color:#91b0b2;text-decoration:none !important;}
.ftfoot a:hover{color:#159ed4;}
.border{ border-bottom:1px solid #575757; padding:10px 0;}
.border a{ color:#FFFFFF; text-decoration:none !important;}
.border a:hover{color:#000000;}
.more{ margin-top:25px;}
.about{ text-align:center; color:#292929;}
.contact{ background:#E9E8E8;}
.preq{background:#70a12b !important; padding:8px; margin-left:10px; color:#FFFFFF !important;}
.preq:hover{background:#8cc936 !important;}
.post{ padding-top:25px; text-align:right; font-size:12px;}
.post a{ text-decoration:none !important;}
.log{ padding:8px; color:#91b0b2;}
.log:hover{ padding:8px; color:#159ed4;}
.head{background:#FFFFFF; padding-bottom:5px !important;
  -webkit-box-shadow: 0px 5px 7px -3px rgba(50, 50, 50, 0.36);
-moz-box-shadow:    0px 5px 7px -3px rgba(50, 50, 50, 0.36);
box-shadow:         0px 5px 7px -3px rgba(50, 50, 50, 0.36);}
.nelet{ background:#f4f8f9 !important; border:none !important; border-radius:0px  !important;}
.ftbg{ background:url(../images/footbg.jpg) center top ; padding:50px 0;}
.ftbg h1{color:#FFFFFF; font-family: 'Open Sans', sans-serif; font-weight:lighter;}
.ftbg p{color:#FFFFFF; font-family: 'Open Sans', sans-serif; font-weight:lighter;}
.gets{ background:#70a12b; color:#FFFFFF; padding:15px 40px 15px 40px;font-size:20px;font-family: 'Open Sans', sans-serif; font-weight:lighter;  margin-top:40px;}
#newsletterapp{ display: inline-block; float: right; }
.social-links{ float: right !important; }
.cs a:hover{color:#FFFFFF; text-decoration:none !important;}
.gets:hover{background: #8cc936;  }
.treef{background:#70a12b; color:#FFFFFF; padding:15px 0; font-size:16px;}
/*
.lstf{ text-align: left; }
.rstf{ text-align: right; }*/
.banner{ 

  /*background:url(../images/bannerbg.jpg) center top;*/
  
  background:url(../images/bannerbg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.col-centered{ float: none !important; margin: 0 auto !important; display: inline-block;}
.concenterd{ margin: auto; overflow: hidden; width: 100%; text-align:center;}
.banner p{color: #159ed4; font-family: 'Open Sans', sans-serif;  font-size:18px; margin-top:25px;}
.join{ text-transform: uppercase; background:#159ed4; margin-bottom:70px; margin-top:10px; color:#FFFFFF; padding:10px 20px 10px 20px;font-size:16px;font-family: 'Open Sans', sans-serif; font-weight:lighter;  -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;}
.topma{ margin-top:25px;}
.join:hover{ background:#0b6c8d;}
.hedbox{
  background-color: rgba(0, 0, 0, 0.568627);
    margin-bottom: 5px;
}
.sehed{font-family: 'Open Sans', sans-serif;  font-size:48px; text-align:center; color:#FFFFFF; margin-top: 5px; margin-bottom: 5px; 
  /*text-shadow: 0px 2px 3px rgba(150, 150, 150, 1);*/
    color: white;
    font-weight: bold;
        
}
.seh{font-family: 'Open Sans', sans-serif; line-height:20px;  font-size:25px; color:rgb(51,51,51); text-shadow: 0px 2px 3px rgba(150, 150, 150, 1);}
.sebox{background:rgba(0,0,0,0.57); padding-bottom:10px; padding-top:10px; 
 }
.seboxli{background:rgba(0,0,0,0.57);font-family: 'Open Sans', sans-serif;  text-align:center; margin-top:5px; color:#FFFFFF; font-size:12px; font-weight:bold; padding:5px 0; margin-bottom:100px;}
.topse{font-family: 'Open Sans', sans-serif; text-align:center; font-weight:bold; padding:20px 0;}
.categ{ padding:50px 0; text-align:center;}
.categ a{text-decoration:none !important; color:white !important;}
.categ a:hover{text-decoration:none !important; color:white !important;}
.testmo{ background:#eeeeee; margin-top:45px; margin-bottom: 65px;  text-align: center;}
.testtitle{font-family: 'Open Sans', sans-serif; text-align:center; font-weight:bold; }
.cata{  background-color: #159ed4; color:white; padding:10px 15px 10px 15px;font-size:16px;font-family: 'Open Sans', sans-serif; font-weight:lighter;  margin:50px auto 0 auto !important; width:50px;}
.ct{padding-top:40px !important;}
.cata:hover{background: #0b6c8d;}
.ctg{border-radius: 0px !important; padding:10px 10px 10px 10px !important;}
.seg{  padding:15px 15px 15px 15px !important;}
.ctyg{  padding:13px 15px 13px 15px !important;}
.btfi{ padding:10px 10px 10px 10px !important; background:#70a12b; border:none; color:#FFFFFF;}
.btfi:hover{background:#8cc936;}
.btpad{ padding-left:0px !important;}

.inner{ margin-top:30px;}
.banner_t{min-height:200px;
  background-color: rgba(6, 175, 179, 0.53)
}
.socico{ text-align:right; margin-top:25px;}
.lem {line-height:24px;}
.lem a{color:#91b0b2 !important; text-decoration:none !important;}
.pt{margin-top:50px; margin-bottom:10px;}
.btn-success{  background:#70a12b !important;;
}
.btn-success:hover{  background:#8cc936 !important;;
}
.tem{ background:#70a12b; color:#FFFFFF !important; text-decoration:none !important; padding:10px 10px 10px 10px;font-size:16px;font-family: 'Open Sans', sans-serif; font-weight:lighter;  margin:50px auto 0 auto !important; width:50px;}
.tem:hover{background:#8cc936;}
.searchbx{ background:url(../images/search.jpg) no-repeat 3px 5px !important; padding-left:40px !important;}
.inh1{font-family: 'Open Sans', sans-serif; } 

.profileico{ width:50px; height:50px; float:left; -webkit-border-radius: 90px;
-moz-border-radius: 90px;
border-radius: 90px; overflow:hidden;}
.flo{float:left !important; margin:0px 0 0 10px;}
.read a{ color:#2F8B0F; text-decoration:none !important;}
.read a:hover{ color:#2F8B0F; text-decoration:none !important;}

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 0px;
}
.ashbg{background:#eeeeee; padding-top:10px;padding-bottom:10px;}
.cts{color:#05A3AB; font-size:18px;}
.fom{background:#00b3eb; color:#FFFFFF;}
.fomin{background:#0BA1D0; padding-top:5px; padding-bottom:5px;}
.fomx{ padding-top:5px; padding-bottom:5px;}
.inner a{ text-decoration:none !important; font-size:14px; }
.inner a:hover{

}
.back{ background:
#FBF8F8; border-bottom:1px solid #A4A4A4; border-right:1px solid #A4A4A4; border-left:1px solid #A4A4A4; padding-bottom:10px;}

#fade-quote-carousel.carousel {
  padding-bottom: 0px;
}
#review{ color:#999;}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
  display:none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
.star{color:#999; font-size:14px;}




@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  
  .logo { text-align:center; }
  .post { text-align:center;}
  
  .sehed { font-size:25px;}
  .btpad{ padding-left:15px !important;}
  .pt{margin-top:10px; margin-bottom:10px;}
  }

.lem a:hover{color:#159ed4 !important;}


/* Style widget */
.review-widget{
   background: #d5d5d5;
    text-align: left;
    width: 170px  ;
    margin-left: 80px;
    margin-top: 70px;
}
.review-wiget-top{
      background:#fff;
      color:#70a12b;
      padding-left:3px;
      padding-right:3px
}
.review-widget-bottom{
        text-align:center;
      background:#70a12b;
}
.review-widget-bottom:hover{
        
      background:#8cc936;
}
.review-widget-bottom a{
   font-size:22px;
      color:#fff;
}

.flo a{ color:#70a12b !important; font-size: 16px; font-weight: bold;}
.flo a:hover{ color:#8cc936 !important; }